<% if current_member %>
 | <%= link_to "Index", root_path %>
 | <%= link_to "sign out", destroy_member_session_path, method: :delete %>
<div id="createtweet" class="panel right">
    <h1>Create a tweet</h1>
    <p>
    <%= form_for @tweet do |f| %>
        <%= f.text_area :content, class: 'tweetText' %>
        <%= f.submit "Tweet!" %>
    <% end %>
    </p>
</div>
<% end %>
<div id="tweets" class="panel left">
    <h1>Profile</h1>
    <div class="tweetWrapper">
        <img class="avatar" src="<%= @member.gravatar %>">
        <span class="name"><%= @member.name %></span> @<%= @member.username %>
        <p>
        <%= @member.tweets.size %> tweets
        <span class="spacing"><%= @member.followers.count %> Followers</span>
        <span class="spacing"><%= @member.followeds.count %> Following</span>

		<% if current_member and @member != current_member %>
	    	<% if current_member.following? @member %>
	        <%= form_tag relationship_path, method: :delete do %>
	            <%= submit_tag "Unfollow" %>
	        <% end %>

	    	<% else %>
				<%= form_for @rel do %>
	            <%= hidden_field_tag :followed_id, @member.id %>
	            <%= submit_tag "Follow" %>
	        	<% end %>
    		<% end %>
		<% end %>
        </p>
    </div>
</div>
<div class="panel left">
    <h1>All tweets</h1>
    <% @member.tweets.each do |tweet| %>
        <div class="tweetWrapper">
            <img class="avatar" src="<%= @member.gravatar %>">
            <span class="name"><%= @member.name %></span> 
            @<%= @member.username %> 
            <span class="time"><%= time_ago_in_words(tweet.created_at) %></span>
            <p> <%= tweet.content %> </p>
        </div>
    <% end %>
</div>


